@import '../mixins.scss';
@import '../variables.scss';

.container {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  align-items: center;

  @include max-width-lg {
    row-gap: 2rem;
    margin: 0 auto;
  }
}

.imageWrapper {
  overflow: hidden;
  margin-top: -7rem;
  z-index: -1;
  left: 0;
  display: flex;

  .mobile {
    @include min-width-lg {
      display: none;
    }
  }

  .desktop {
    @include max-width-lg {
      display: none;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.textAndButtons {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  row-gap: 4rem;

  @include max-width-lg {
    width: 100%;
  }

  span {
    font-size: 3rem;
    line-height: 140%;

    @include max-width-lg {
      font-size: 1.8rem;
    }
  }

  div {
    @include max-width-lg {
      justify-content: center;
      width: 100%;
    }
  }
}

.paddingWrap {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  background-color: $beige;
  padding-top: 4rem;
}