@import '../mixins.scss';

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  flex: 1;
  position: relative;
  animation: slideUp 0.8s ease-out;

  &:nth-child(3n + 2) {
    margin-top: 12rem;

    @include max-width-lg {
      margin-top: 0;
    }
  }

  &:nth-child(3n) {
    margin-top: 26rem;
    @include max-width-lg {
      margin-top: 0;
    }
  }

  div {
    position: relative;
    height: 70rem;
    overflow: hidden;
    border-radius: 1rem;
    display: flex;
    justify-content: center;

    @include max-width-lg {
      height: 50rem;
    }
  }

  img {
    width: auto;
    height: 100%;
    position: absolute;
    border-radius: 1rem;
    user-select: none;
  }

  span {
    width: 80%;
    font-size: 2rem;

    @include max-width-lg {
      font-weight: 600;
      line-height: 130%;
    }
  }

  button {
    align-self: flex-end;
  }
}
