@import '../mixins.scss';

.imageWrapper {
  overflow: hidden;
  margin-top: -7rem;
  z-index: -1;
  left: 0;
  display: flex;

  .mobile {
    @include min-width-lg {
      display: none;
    }
  }

  .desktop {
    @include max-width-lg {
      display: none;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
