@import '../mixins.scss';


.overflow {
  overflow: hidden;
}

.header {
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
  font-size: 9.6rem;
  line-height: 100%;
  padding: 0;
  font-weight: 800;

  @include max-width-lg {
    font-weight: 700;
    font-size: 4rem;
  }

  @include max-width-md {
    font-size: 3rem;
  }

  &--page {
    text-align: center;
    margin: 4rem 0;

  }

  &--line {
    line-height: 120%;
  }

  &--align {
    text-align: left;
  }

  &--medium-font {
    font-size: 6rem;
  }

}