@import '../variables';

.wrap {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  row-gap: 0.4rem;

  span {
    font-weight: 600;
  }

  a {
    text-decoration: none;
    color: $primary;

    &:hover {
      text-decoration: underline;
    }
  }
}